<!--
  ~ WebAce - Java Http Client for webscraping https://gitlab.com/serphacker/webace
  ~
  ~ Copyright (c) 2018 SERP Hacker
  ~ @author Pierre Nogues <support@serphacker.com>
  ~ @license https://opensource.org/licenses/MIT MIT License
  -->

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d] [%t] %-5p %c{5} - %m%n</pattern>
        </encoder>
    </appender>


    <root level="TRACE">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.apache.hc.client5" level="WARN" />

</configuration>
